version: 2
updates:
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    groups:
      gomod:
        update-types:
          - "patch"
          - "minor"
          - "major"
