# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    name: Run Unit Test
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Go 1.17.2
        uses: actions/setup-go@v2
        with:
          go-version: 1.17.2
      - name: Parser test
        run: go test ./... -v
